* {
    margin: 0%;
    padding: 0%;
}
body {
    background-image: url(output.png);
    background-size:cover ;
}
section{
    padding-left: 20px;
}

h1{
    color: rgba(4, 44, 4, 0.808);
    text-align: center;
    background-color: rgba(17, 116, 17, 0.4);
    padding-bottom: 20px;
    padding-top: 12px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

p{
    padding: 9px;
}

#p1 {
    font-size: 178%;
    color: rgba(4, 44, 4, 1);
    font-weight: 900;
}

#p2 {
    font-size: 148%;
    font-weight: 600;
    color: rgb(16, 110, 16)
}
.answers {
    background-color: rgba(17, 116, 17, 0.4);
    border-radius: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 115px;
    
    
}
.options {
    background-color:rgba(4, 44, 4, 0.4) ;
    border-radius: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
}


#container1{
    padding-left: 500px;
    padding-right: 500px;
    border-radius: 10px;

}

#container2 {
    padding-top: 11%;
    padding-left: 20%;
}

#container3 {
    padding-left: 20%;
    font-size: 138%;
    /* padding-right: 61%; */
}

#container4 {
    padding-left: 60%;
    padding-top: 32px;
}

button {
    padding-top:14px;
    padding-bottom: 14px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 10px;
    background-color:rgba(4, 44, 4, 0.4) ;
    font-size: 1rem;
    color:rgba(4, 44, 4, 1);
    font-weight: bolder;
}

.answers:hover {
    background-color: rgba(7, 97, 7, 0.8);
}

button:hover {
    background-color: rgba(7, 97, 7, 0.8);
}


.changing {
    background-color: rgba(7, 97, 7, 1);; 
}


