body {
    background-image:url(back-to-school-6305090_1920.jpg);
    background-size: cover;
}
section {
    background-color: rgba(127,255,212,0.38);
    border-radius: 80px;
    padding-bottom: 6px;
}

h1{
    font-size: 3.3rem;
    font-family:  'Dai Banna SIL', serif;;
    color: rgba(4, 44, 4, 1);
}
.bubble {
/* background-color: #d2baa1; */
/* background-color: rgba(190, 96, 96,0.6); */
background-color: rgba(17, 116, 17, 0.4);
padding: 23px;
border-radius: 45px;
padding-right: 2px;
font-family: 'Dai Banna SIL', serif;
font-size: 1.5em;
font-weight: 550;

}

#container1{
    padding-top: 3%;
    padding-left: 45px;
}
#container2{
    
    padding-left: 33px;
    padding-right: 32px;
}

#buttonnext {
    padding-left:86% ;
}

button {
    padding: 17px;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family:'Dai Banna SIL', serif ;
    font-size: 1.4em;
}


/* CSS */
.button-75 {
  align-items: center;
  background-color:rgba(4, 44, 4, 0.4) ;
  /* border: 0; */
  border-radius: 10px;
  box-sizing: border-box;
  color:rgba(4, 44, 4, 1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 19px;
  
  
  
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}